*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* height: 1000px; */
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 600px;
    margin: 0 auto;
}
.news{

}
.news li{
    margin-top: 20px;
    position: relative;
}
.news li a{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.item::after{
    content: '';
    display:block;
    clear: both;
}
.item img{
    width: 50px;
    height: 50px;
    float: left;
}
.item h3{
    margin-left: 60px;
    font-size: 14px;
}
.item p{
    margin-left: 60px;
    margin-top: 10px;
    font-size: 14px;
    color: #ccc;
}
.hidden{
    width: 100%;
    text-align: center;
}
a{
    color: inherit;
}
